.form-container {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(194, 194, 194, 0.3);
    background: rgb(31, 31, 31);
  }
  
  .form {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
      position: absolute; 
      top: 7vh; 
      left: 55vw; 
  }
  
  .form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background: black;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    border: none;
  }

  .radio {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background: black;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    border: none;
  }
  
  ::placeholder {
    color: white;
  }
  
  .form button {
    width: 60%; 
    font-size: 12px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
  }
  
  .form button:hover {
    cursor: pointer;
    background: white; 
    color: black; 
  }
