.header {
    width: 100vw; 
    height: 15vh; 
    align-content: space-between; 
    align-items: center; 
    display: flex; 
    flex-direction: row; 
    background-color: rgb(118, 115, 126);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}
.tasksButton {
    background-color: rgb(118, 115, 126); 
    border: 2px solid rgb(118, 115, 126); 
    color: white; 
    border-radius: 12px; 
    margin-left: 12vmax; 
    margin-right: 12vmax;
    font-size: 20px; 
  }
  
  .tasksButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid black; 
  }
  
  .finishedButton {
    background-color: rgb(118, 115, 126); 
    border: 2px solid rgb(118, 115, 126); 
    color: white; 
    border-radius: 12px; 
    margin-left: 12vmax; 
    margin-right: 12vmax;
    font-size: 20px; 
  }
  
  .finishedButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid black; 
  }
  
  .addButton {
    background-color: rgb(118, 115, 126); 
    border: 2px solid rgb(118, 115, 126); 
    color: white; 
    border-radius: 12px; 
    margin-left: 12vmax; 
    margin-right: 12vmax;
    font-size: 20px; 
  }
  
  .addButton:hover{
    background-color: white; 
    color: black; 
    border: 2px solid black; 
  }