.header {
    width: 100%; 
    height: 10vh; 
    display: flex; 
    align-items: center; 
    border-bottom: 1px solid green; 
}

.header h1 {
    padding: 20px; 
    font-size: 36px; 
    color: white; 
}